[Unit]
Description=Sentricore DNS Web Dashboard
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=sentricore
WorkingDirectory=/opt/sentricore-dns
Environment="PYTHONUNBUFFERED=1"
ExecStart=/opt/sentricore-dns/venv/bin/gunicorn --bind 0.0.0.0:5000 --workers 2 app.web.app:app
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target